@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins","Bebas Neue", sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #080808;
}

.biggerboy{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    background: #080808;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    z-index: 100;
}

    /*Creates left hand logo for nav bar*/
.logo a{
    color: white;
    font-family: "Bebas Neue";
    font-size: 40px;
    font-weight: 500;
    padding: 0 2rem;
    text-decoration: none;
}
    /*Creates right hand links to navigate to pages*/
.nav-items a {
    position: relative;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin-left: 40px;
}
        /*Creates hover effect for nav bar*/
.nav-items a:not(.menu-icon)::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.nav-items a:not(.menu-icon):hover::before {
    width: 100%;
}

.mainphoto {
    height: 650px;
    margin-left: 100px;
}
/*Master flex container to hold the image and text columns in*/
.maincontainer {
    display: flex;
    flex-direction: row;
    padding-top: 150px;
    justify-content: flex-start;
}
/*Hi Im Zayden Stenix text editor*/
.sidetext {
    padding-top: 170px;
    color: #fff;
    font-size: xx-large;
    padding-left: 50px;
}
/*text under Hi Im Zayden Stenix editor*/
.paratext {
    color: #fff;
    font-size: 24px;
    padding-top: 50px;
    padding-left: 50px;
    margin-right: 100px;
}
/*Creates a flex container for the two text items so they are in a column*/
.sepcontainer2 {
    display: flex;
    width: 900px;
    flex-direction: column;
}
.centertext {
    font-weight: 600;
    font-size: x-large;
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.social-menu{
    display: flex;
    justify-content: center;
}
.social-menu ul {
    justify-content: center;
    padding: 0;
    margin: 30px;
    display: flex;
}
.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}
.social-menu ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}
.social-menu ul li .fa:hover {
    color: #ffffff;
}
.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #F56040;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #833AB4;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}
.social-menu ul li:nth-child(4) a:hover {
    background-color: #049bec;
}

.sidebar{
    position: fixed;
    display: none;
    top: 0;
    right: 0px;
    height: 100vh;
    width: 250px;
    z-index: 1000;
    background-color: #0808084d;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.103);
}
.nav-item-side a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: white;
    text-indent: 20px;
}

.sidebar .logo a{
    display: block;
    padding-bottom: 10px;
    text-align: center;
}

.sidebar a:hover {
    background-color: rgba(14, 14, 14, 0.336);
}

.menu-icon {
    fill: #fff;
    top: 5px;
    display: none;
}

.close-icon {
    fill: #fff;
    padding-top: 30px;
    padding-left: 174px;
    
    display: block;
    
}

@media(max-width: 910px){
    .hideOnMobile{
        display: none;
    }
    .menu-icon{
        display: block;
    }
}
@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}
@media(max-width: 1135px){
    .maincontainer{
        flex-direction: column;
    }
    .mainphoto{
        height: max-content;
        margin-right: 100px;
    }
    .sepcontainer2{
        text-align: center;
        margin: auto;
    }
    .sidetext{
        padding-left: 0;
    }
    .paratext{
        margin-right: 0px;
        padding-left: 0;
    }
}